{% extends "includes/navbar.html"%}


{% block content %}
<h1>About</h1>
<p>En Safary, nos apasiona conectar a las personas con la majestuosidad de la naturaleza y la vida salvaje. Somos un destino único para los amantes de los animales, los aventureros y aquellos que buscan experiencias inolvidables en el corazón de la naturaleza.

    Nuestro safari ofrece una oportunidad única para explorar hábitats naturales y observar a los animales en su entorno más puro. Desde los majestuosos leones y elegantes jirafas hasta los curiosos elefantes y coloridas aves, cada rincón de nuestro safari está diseñado para inspirar asombro y respeto por la biodiversidad del planeta.
    
    En Safary, no solo nos enfocamos en brindar experiencias emocionantes, sino también en promover la conservación de las especies y sus hábitats. Creemos en un turismo responsable que contribuya a la protección de la vida silvestre y al bienestar de las comunidades locales.
    
    Únete a nosotros en esta aventura y descubre el mundo salvaje como nunca antes lo habías visto. ¡Te esperamos para vivir una experiencia que despertará tus sentidos y tu amor por la naturaleza!</p>

{% endblock %}